.NavBar {
  background-color: hsl(177, 48%, 35%);
  height: 60px;
  display: flex;
  color:white
}

header {
  font-size: 30px;
  font-weight: bold;
}

.NavBar > header {
  padding: 20px;
  font-size: 20px;
  font-family: monospace;
}

.NavBar > header:hover {
  background-color: hsl(177, 48%, 20%);
  cursor: grab;
}

.Blog {
  padding: 20px;
  font-size: 25px;
}

.PersonalInfoContainer {
  padding: 15px;
  font-size: 20px;
}

.PersonalInfo:visited {
  color: inherit;
}

.PersonalInfo:hover {
  color: rgb(234, 255, 253);
}

.Sonnet {
  text-align: center;
  padding: 5px;
  font-size: 25px;
}

.Home > header {
  padding: 20px;
  text-align: center;
}

.ContextForm {
  padding: 20px;
  text-align: center;
}

.ContextInput {
  padding: 10px;
  text-align: center;
  font-size: 30px;
  width: 1000px;
  border: solid hsl(177, 48%, 35%) 3px;
  border-radius: 20px;
}