.NavBar {
  background-color: hsl(177, 48%, 35%);
  height: 60px;
  display: flex;
  color:white
}

.NavBar > header {
  padding: 20px;
  font-size: 20px;
  font-family: monospace;
}

.NavBar > header:hover {
  background-color: hsl(177, 48%, 20%);
  cursor: grab;
}