.NavBar {
  background: rgb(108, 68, 128);
  height: 60px;
  display: flex;
}

header {
  font-size: 30px;
  font-weight: bold;
  padding-left: 10%;
}

p, h4 {
  padding-left: 10%;
  padding-right: 10%;
}

.NavBar > header {
  padding: 20px;
  font-size: 20px;
  font-family: monospace;
}

.NavBar > header:hover {
  background: rgb(31, 29, 32);
  cursor: grab;
}

.Blog {
  padding: 20px;
  font-size: 25px;
}

.PersonalInfoContainer {
  padding: 15px;
  font-size: 20px;
}

.PersonalInfo:visited {
  color: inherit;
}

.PersonalInfo:hover {
  color: rgb(214, 131, 255);
}

.Sonnet {
  text-align: center;
  padding: 5px;
  font-size: 25px;
}

.Home > header {
  padding: 20px;
  text-align: center;
}

.ContextForm {
  padding: 20px;
  text-align: center;
}

.ContextInput {
  padding: 10px;
  text-align: center;
  font-size: 30px;
  width: 1000px;
  border: solid rgb(139, 91, 163) 3px;
  border-radius: 20px;
}